@import "bulma";

img { max-width: 100%; }

.container {
    width: 800px;
    margin: 25px auto;
}

.card {
    height: 250px;
    width: 250px;
    margin: 0 15px 15px 0;
    float: left;
    overflow: auto;
}