@import "bulma";

 * {

 	margin:0px;
 	padding:0px;
 	border:0px;
}
.container{
	margin:0px;
	max-width: 1450px;
}
.responsive{
  padding:0px;
  text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: xx-large;
}
.responsive3{
  padding:0px;
  text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: -webkit-xxx-large;
    margin-top: 5%;
}
#titleC{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
}

.text-C1{
  font-size: 16px;
  text-align: left;
}

#blogs{
    height: 36px;
    padding: 0px;
    text-align: center;
    background: #6890ab;
}
li{
  text-align: center;
  text-decoration: underline;
}
#JavaScript{
	width: 25%;
    float: left;
    text-align: center;
    padding: 3% 0px 0px 4px;
    background: #f1bf26;
}
#JavaScript:hover{
  animation: shake 0.92s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 2000px;
  border:solid black;
}
body{
	background:white;
	color:black;
	font-family: 'Alegreya', sans-serif;
	margin:0;
}
h2{
	font-size:250%;
	font-weight:700px;
	text-align:center;
	padding-top:2%;
	color:#F5F5F5;
}
h3{
  font-size: 175%;
  line-height: 155%;
  margin-left: 5%;
  letter-spacing: 2px;
  padding: 5% 0px;
  font-weight: 400px;
  color: #032135;
  font-family: 'Francois One', sans-serif;
}
p{
	font-family: 'Alegreya Sans', sans-serif;
	font-size:160%;
	line-height:150%;
	padding:3%;
	text-indent:2%;
	text-align:justify;
	color:#000000;
}
img{
	max-width:100%;
	height:auto;
	width:auto;
	margin-bottom:-4px;
}
header{
	background-color:#032135;
	width:100%;
  height: 100px;
}
#header-inner{
	max-width:1200px;
	margin:0px auto;
}
#logo{

	float:left;
	width:200px;
	height:60px;
	background:url(/images/html.png)no-repaeat center;
}
span{
  font-style: inherit;
    font-weight: inherit;
    position: absolute;
    left: 5%;
    top: 23px;
    font-size: 31px;
    color: white;
}
.hpub1{
  max-width: 100%;
    height: 100%;
}
.hpub1:hover{
  opacity: 0.3;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
/*---Start Navagation---*/
nav{
	float: right;
	padding:25px 20px 0px 0px;

}
#menu-icon{
	display:hidden;
	width: 40px;
	height:40px;
	background:url(/images/1con1.png) center;
}
a:hover#menu-icon{
	border-radius:4px 4px 0px 0px;
}
nav ul li{
	font-size:150%;
	display:inline-block;
	float: left;
	padding:10px;
  text-decoration: none;
}
nav ul li a {
	color:white;
}
nav ul li a:hover{
	color:lightblue;
}
.current{
	color:whith;
}
.hpub-afect{
  position: absolute;
  top: 61%;
  right: 69%;
  width: 28%;
}

.hpub-afect:hover{
  position: absolute;
  top: 58%;
  right: 66%;
opacity: 0.0;
}
.hpub-afect1{
  position: absolute;
  width: 29%;
top: 732px;
right: 35%;
}
.about-1{
  max-width: 100%;
  height: auto;
  width: 23%;
  margin-bottom: -4px;
  padding-top: 8%;
  margin-left: 38%;
}
.about-2{
font-family: 'Alegreya Sans', sans-serif;
font-size: 14px;
line-height: 150%;
padding: 3%;
text-indent: 2%;
text-align: justify;
color: #000000;
}
.skills2{
  font-size: 250%;
font-weight: 700px;
text-align: center;
padding-top: 2%;
color: #000000;
}


// ---end of navagation--
.banner{
	width:100%;
	background-color:white;
  height: 600px;
}
.banner-width{
    max-width:1100px;
    margin: 0px auto;
}
.one-forth{
	width:25%;
	float: left;
	text-align: center;
	padding: 3% 0px 0px 4px;
}
#html{
	background:rgba(228, 77, 38, 0.83);
}
#html:hover{
    animation: shake 0.92s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 2000px;
  border: solid black;
}
#css{
    background:#1f62ae;
    height: 131%;
  }
#css:hover{
  animation: shake 0.92s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 2000px;
  border: solid black;
}
#socila{
	background:aquamarine;
}
#socila:hover{
  opacity: 0.3;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  border: solid black;
}
#p2{
  width: 100%;
height: 600px;
opacity: 0.2;
}
.height{
	height:75px;
}
.inner-wrapper{
	float: left;
	width: 100%;
	background:#6991AC;
}
article{
   float: left;
   margin: 0px auto;
   width:50%;
   height:auto;
}
#tablet{
	background:#6991AC;
}
aside{
		float: right;
	margin: 0px auto;
	width:50%;
	height:auto;
}
#tablet2{
	background-color: lightblue;
 }
 #tablet2:hover{
  border: solid 5px floralwhite;
 }
.hey{
	width: 54%;
    margin-left: 29%;
    margin-top: 0px;
}

.inner-wrapper-2{
	float: left;
	width:100%;
	background:#6991AC;
}
#motavation{
	background-color: whitesmoke;
    margin-top: 15px;
    width: 100%;
    margin-bottom: 80px;
}
#skills{
	background-color:#F1AA90;
}
#imgwrap{
	margin-left: 21%;
    width: 47%;
}

.inner-wrapper-3{
	width:100%;
	background: #AADCD2;
  height: 250px;
}
.one-third{
	width:33.3333333333%;
	float: left;
	text-align:center;
}
.title-hover1{
  border: solid;
  height: 71px;
  position: absolute;
  width: 483px;
  top: 67%;
}
.title-hover1:hover{
  border: solid black;
  height: 71px;
  position: absolute;
  width: 483px;
  top: 67%;
  visibility: visible;

}
.Clo {
    position: absolute;
    font-size: 25px;
    left: 10%;
    top: 72%;
    color: #13110f;
    text-shadow: 0000;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px #b1b1bb;
    letter-spacing: 4px;
}
  .Clo1 {
      position: absolute;
      font-size: 25px;
      left: 43%;
      top: 72%;
      color: #13110f;
      text-shadow: 0000;
      text-shadow: 1px 1px 1px #000, 3px 3px 5px #b1b1bb;
      letter-spacing: 4px;
  }


#work{
  background-color: #99b0bf;
  width: 34%;
  height: 250px;

}
#work:hover{

  opacity: 0.9;

}
#Workflow{
	background-color:white;
  width:33%;
  height:250px;

}

#Thanks{
	background-color:#cad4d4;
  width:33%;
  height:250px;
}

#work1{
  background: whitesmoke;
}
#Workflow1{
  background: lightsteelblue;
}
#Thanks1{
  background: bisque;
}
footer{
	background-color:#032135;
	width:100%;
}
.social{
	text-align:center;
}
.social li{
	display:inline;
}

.i{
	width: 3%;
    margin: 1%;
    background: #C3D7DF;
    border-radius: 9px;
}
.i:hover{
	background:white;
}
.moimg{
	margin-left: 23%;
	margin-left: 23%;
    padding-bottom: 15px;
    width: 55%;
}

#me1{
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -6px;
    margin-left: 25px;

}
#me{
	  position: absolute;
    left: 0%;
    top: 1369px;
    opacity: 0.0;
  }

#me:hover{
	animation: shake 6.92s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 2000px;
	opacity: 0.8;

}
.dev-logo{
  width:20%;
  margin-left: 3%;
}
.dev-logo2{
  width:13%;
  margin-left: 3%;
}
.dev-logo3{
  width:9%;
  margin-left: 3%;
}
.dev-logo4{
  width:13%;
  margin-left: 3%;
}
.dev-logo5{
  width:20%;
  margin-left: 3%;
}
.dev-logo6{
  width:9%;
  margin-left: 3%;
}
.dev-logo7 {
    width: 18%;
  margin-left: 16%;
}
// closUp//
.close-container{
    // background: url(/images/closeUp.jpg)fixed 100%;
}
.close-container1{
  height: 1900px;
margin: 0% 25% 0% 25%;
}
.close-container2{
  height: 1200px;
margin: 0% 25% 0% 25%;
}
.close-container3{
  height: 1200px;
margin: 0% 25% 0% 25%;
}
.close-container4{
  height: 1000px;
margin: 0% 25% 0% 25%;
}
.cBox{
  background-color: #032135;
width: 100%;
height: 155px;
}
.closupimg{
  width: 100%;
  /* margin-left: 25%; */
  margin-top: 7%;

}
#see{
  font-weight: normal;
    text-align: center;
    font-size: 27px;
    color: white;
}
.buttonC{
  border: none;
  width: 32%;
  height: 59px;
  margin-top: 4%;
  margin-left: 35%;
  background: #032135;
}
.buttonC:hover{
  opacity: 0.8;
}
.text-C{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 15px;
  line-height: 32px;
  padding: 3%;
  text-indent: 2%;
  text-align: justify;
  color: #000000;
  margin-top: 5%;
}
.meshimg1{
  width: 29%;
margin-left: 77px;
}
.meshimg2{
  width: 29%;
margin-left: 128px;
}
.heroku{
  max-width: 100%;
height: auto;
width: auto;
margin-bottom: -4px;
margin-top: 4%;
margin-left: 13%;
}
#Ct{
  font-size: 160%;
color: #f5f5f5;
padding: 0% 0% 0% 34%;

}
// mesh
.meshimg {
    width: 35%;
    margin-top: 5%;
    margin-left: 33%;
}



// ---layout css-------//
// ----profects--------//
.hpub{
    width: 100%;
    height: 250px;
  opacity: 0.0;
  }


.hpub:hover{
	opacity: 0.3;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  // backface-visibility: hidden;
  perspective: 1000px;
  opacity: 1.0;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.words-view{
    position: relative;
    font-size: 57px;
    width: 25%;
    left: 14%;
    bottom: -257px;
    height: 66px;
    border: none;
    opacity: 0.0;

}
.words-view:hover{
    opacity: 1;
}
.discription{
    width: 100%;
    border: solid;
    margin-left: 1%;
    height: 52px;
    background: #d3c9ca;
    margin-bottom: 3px;
    padding: 1px;
    border: azure;
    box-shadow: 5px -5px 5px #190601;
    margin-top: -29px;
    border: solid #3b0c09;
}
.discription:hover{
	background:white;

}
.git{
	margin-left: 47%;
    margin-bottom: 70px;
    width: 8%;
    padding: 6px;
}
.html2{
	height: 55px;
    padding: 4px;
    margin-bottom: 5px;
    margin-left: 195px;
}
.html1{
	border: solid;
    width: 55%;
    margin-left: 1%;
    margin-bottom: 0%;
    background: coral;
}
.html3{
	width:11%;
}
.html4{
	height: 50px;
    padding: 4px;
    margin-bottom: 5px;
}
.project{
	background: #6991AC;
	}
.projerc-banner-inner{
	height: 649px;
}

.mesh{
    max-width: 205px;
    width: 31%;
    margin-left: 1%;
}
.projerc-banner-inner2{
    float: right;
    width: 57%;
    margin-right: 0%;
}
.banner-inner1 {
    width: 42%;
    height: 330px;
    margin-left: 23%;
    overflow: hidden;
    margin-top: 15%;
}
#quote{
  color:#032135;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
}

.name {
    position: absolute;
    font-size: 43px;
    top: 11%;
    right: 3%;
    color: #032135;
}
.name1{
  position: absolute;
top: 48%;
right: 0%;
font-size: 48px;
left: 26%;
color: #032135;
font-family: 'Roboto Condensed', sans-serif;
}
.name2{
  position: absolute;
  top: 51%;
  right: 0%;
  font-size: 25px;
  left: 38%;
  color: #032135;;
}
.discription2{
	width: 98%;
    border: solid;
    height: 50px;
    background: #294171;
    margin-bottom: 4px;
    padding: 1px;
    border: solid white;
    margin-top: -28px;
}
.html11{
	border: solid;
    width: 97%;
    margin-bottom: 0%;
    background: coral;
}

.html22{

	height: 50px;
    padding: 4px;
    margin-bottom: 5px;
    margin-left: 227px;

}
.hpub-tittle{
    width: 44%;
    max-width: 1000px;
    font-size: 111px;
    height: 440px;
    margin: auto;
    padding-top:30px;
}

#hpub-script{
	font-size:10px
}
.Profilewrapper2{
    height: 330px;
    margin-top: 0px;
    padding-top: 10px;
    background: #89547a;
    margin-top: -3px;
    width: 28%;
}

.Mesh-tittle{
    float: left;
    width: 100%;
    max-width: 619px;
    font-size: 111px;
    height: 320px;
    margin-right: 0%;
    background: #547389;
}
.Mesh{
	font-size:40px;
	font-size: 110px;
	margin-top: 143px;
}
.mesh{
    width: 28%;
    margin-left: 0%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    box-shadow: 5px -3px 5px #190601
}
h4{
	position: relative;
    top: 123px;
    left: 290px;
    font-size: initial;
    color: black;
}


.Profilewrapper{
    height: 455px;
    width: 100%;
    background: antiquewhite;
}
#S1{
      font-size: 160%;
}
#ps{
    box-shadow: 2px 2px 12px 0px #111417;
    margin: 15px;
}
#ps:hover{
  animation: spin 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
@-webkit-keyframes spin
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(3600deg);}
}
// --------------Resume----------------------------------//
.timeline-container{

    background: steelblue;
}
#Resume{
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
    margin-left: 30%;
    margin-top: 1%;
}

// --starting media----//
@media screen and (max-width:768px){
	h2{
		font-size: 150%;
	}
	h3{
		font-size: 45px;
		font-family: 'Francois One', sans-serif;
	}
	h4{
		display:none;
	}
	p{
		font-size: 120%;
	}
    header{
    	position:absolute;
    }
    #logo{
    	margin: 15px 0px -25px;
    	background:url() no-repaeat center;
    }
    #menu-icon{
    	display: inline-block;
    }
    nav ul, nav:active ul{
    	display:none;
    	z-index: 1000;
    	position: absolute;
    	padding:20px;
    	background: #6991CA;
    	right:20px;
    	top:60px;
    	border:1px solid #FFF;
    	border-radius: 10px 0px 2px 2px;
    	width:50%;

    }
    nav:hover ul{
    	display: block;
    }
    nav li{
    	text-align: center;
    	width: 100%;
    	padding:10px 0;
    }
    .banner{
    	padding-top: 92px;
    }
    #html{
    	background: rgba(228, 77, 38, 0.83);
	    width: 100%;
	    }
	#css{
	    background: #1f62ae;
        height: 131%;
	    width: 100%;
	    }
	#socila{
		    background: aquamarine;
	        width: 100%;
	}
	article{
		float: left;
		width: 100%;
	}
	aside{
		width:100%;
	}
span{
  display:none;
}
.name {
    position: absolute;
    font-size: 40px;
    top: 11%;
    right: 1%;
    color: white;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.hpub1{
  max-width: 100%;
    height: 100%;

}
	.imgwrap{
		display:none;
	}
  #p2 {
    width: 100%;
    height: 400px;
    opacity: 0.2;
}
.name1 {
    position: absolute;
    top: 22%;
    right: 0%;
    font-size: 30px;
    left: 6%;
    color: white;
    text-align: center;
}
#work {
    background-color: #032135;
    width: 100%;
    height: 250px;
}
#Workflow {
    background-color: #7f8e96;
    width: 100%;
    height: 250px;
}
#Thanks {
    background-color: rgba(44, 62, 74, 0.96);
    width: 100%;
    height: 250px;
}
.name2 {
    position: absolute;
    top: 35%;
    right: 0%;
    font-size: 20px;
    left: 7%;
    color: white;
}
.close-container1 {
    height: 1500px;
    padding: 20px;
    margin:0px;
}
.meshimg1{
      margin-left: 28%;
      width: 29%;

}
.closupimg {
    width: 100%;
    /* margin-left: 25%; */
    margin-top: 30%;
}
.buttonC {
    border: none;
    width: 44%;
    height: 44px;
    margin-top: 4%;
    margin-left: 27%;
    background: #032135;
}
#see {
    font-weight: normal;
    text-align: center;
    font-size: 17px;
    color: white;
    padding-top: 10px;
}
.meshimg {
    width: 55%;
    margin-top: 25%;
    margin-left: 20%;
}
h2 {
    font-size: 45px;

}
#Ct {
    font-size: 17px;
    color: #f5f5f5;
    padding: 0% 0% 0% 11%;
}
.Ct1{
    font-size: 17px;
    color: #f5f5f5;
    padding: 0% 0% 0% 11%;
}

.cBox {
    background-color: #032135;
    width: 100%;
    height: 100px;
}
.banner {
    width: 100%;
    background-color: #8e3737;
    height: 495px;
}
	.one-third{
		width:100%;
	}
	.socila{
		width: 100%;
	}
	.i{
		width: 15%;
    }
    .aside2{
    	margin-left: 4px;
    }
    .moimg{
    	margin-left: 18%;
    }
    .hey{
    	margin-left: 22%;
    }
    .html1{
	width:100%;
	}
	.discription{
    width: 100%;
    border: solid;
    margin-left: 1%;
    height: 35px;
    background: #d3c9ca;
    margin-bottom: 3px;
    padding: 1px;
    border: azure;
    box-shadow: 3px 1px 17px #190601;
    margin-top: -26px;
    border: solid #3b0c09;
	}
	.git {
    width: 15%;
    margin-left: 45%;
    height: 33px;
    margin-bottom: 90px;
	}



.mesh{
	width: 100%;
	max-width:218px;

}
.projerc-banner-inner {
	height: 253px
}


.hpub-tittle{
	width:100%;
	margin-right:1px;
	height: 215px;
	margin-left:0px;
	padding: 25px;

}

.Mesh-tittle{
	width: 96%;
    margin-left: 14px;
    height: 180px;
    margin-bottom: 15px;
}
.Mesh{
	margin-top: 50px;
	height: 185px;
	margin-bottom: 10px;
}

.Profilewrapper{
    background: #c3d7df;
    height: 370px;
}
.hpub{
	width: 100%;
  padding-top: 10px;

}
#me1{
    max-width: 100%;
    width:69%;
    display: none;
}
#me{
	display:none;
	width: 100%;

}
#JavaScript{
	 background:#f1bf26;
   height: 131%;
	 width: 100%;
}
.i{
	    width: 6%;
}
.height{
  height:140px;
}
.project{
      background: #6991AC;
      margin-top: 84px;
}
.timeline-container{
    width: 100%;
    height: 670px;
    }
 #Resume{
    max-width: 100%;
    height: 83%;
    width: auto;
    margin-bottom: -4px;
    margin-left: 0%;
    margin-top: 25%;
  }
  #blogs{

    display: none;
}
.hpub-afect{
display: none;
}
.hpub{
    width: 100%;
    height: 250px;
    opacity: 1.0;
  }

.meshimg2 {
    width: 34%;
    margin-left: 32px;
}
.meshimg1 {
    margin-left: 3%;
    width: 34%;
}
.close-container1 {
    height: 1900px;
    padding: 20px;
    margin: 0px;
}
.text-C1 {
    font-size: 16px;
    line-height: 35px;
    text-align: center;
}
#Ct {
  display: none;
}
// }
.close-container2 {
    height: 980px;
    padding: 3%;
    margin:0px;
}
.close-container3 {
    height: 1200px;
    margin: 0% 0% 0% 0%;
}
.close-container4 {
    height: 1000px;
    margin: 0% 0% 0% 0%;
}
.about-1 {
    max-width: 100%;
    height: auto;
    width: 23%;
    margin-bottom: -4px;
    padding-top: 29%;
    margin-left: 40%;
}
}
