@import "bulma";
 
 * {

 	margin:0px;
 	padding:0px;
 	border:0px;
}
.container{
	margin:0px;
	max-width: 1450px;

}
#JavaScript{
	width: 25%;
    float: left;
    text-align: center;
    padding: 3% 0px 0px 4px;
    background: #f1bf26;
}
body{
	background:white;
	color:black;
	font-family: 'Alegreya', sans-serif;
	margin:0;
}
h2{
	font-size:250%;
	font-weight:700px;
	text-align:center;
	padding-top:2%;
	color:#F5F5F5;
}
h3{
	font-size:175%;
	line-height:155%;
	padding:5% 0px;
	font-weight:400px;
	color:#F5F5F5;
	font-family: 'Francois One', sans-serif;
}
p{
	font-family: 'Alegreya Sans', sans-serif;
	font-size:160%;
	line-height:150%;
	padding:3%;
	text-indent:2%;
	text-align:justify;
	color:#000000;
}
img{
	max-width:100%;
	height:auto;
	width:auto;
	margin-bottom:-4px;
}
header{
	background-color:#6991AC;
	width:100%;
	height:86px;
}
#header-inner{
	max-width:1200px;
	margin:0px auto;
}
#logo{
	
	float:left;
	width:200px;
	height:60px;
	background:url(/images/html.png)no-repaeat center;
}
/*---Start Navagation---*/
nav{
	float: right;
	padding:25px 20px 0px 0px;

}
#menu-icon{
	display:hidden;
	width: 40px;
	height:40px;
	background:url(/images/1con1.png) center;
}
a:hover#menu-icon{
	border-radius:4px 4px 0px 0px;
}
nav ul li{
	font-size:150%;
	display:inline-block;
	float: left;
	padding:10px;
}
nav ul li a {
	color:white;
}
nav ul li a:hover{
	color:lightblue;
}
.current{
	color:whith;
}
// ---end of navagation--
.banner{
	width:100%;
	background-color:#6991AC;
}
.banner-width{
    max-width:1100px;
    margin: 0px auto;
}
.one-forth{
	width:25%;
	float: left;
	text-align: center;
	padding: 3% 0px 0px 4px;
}
#html{
	background:rgba(228, 77, 38, 0.83);
}
#css{
    background:#1f62ae;
    height: 131%;
}
#socila{
	background:aquamarine;
}

.height{
	height:75px;
}
.inner-wrapper{
	float: left;
	width: 100%;
	background:#6991AC;
}
article{
   float: left;
   margin: 0px auto;
   width:50%;
   height:auto;
}
#tablet{
	background:#6991AC;
}
aside{
		float: right;
	margin: 0px auto;
	width:50%;
	height:auto;
}
#tablet2{
	background-color: lightblue;
 }
.hey{
	width: 54%;
    margin-left: 29%;
    margin-top: 0px;
}

.inner-wrapper-2{
	float: left;
	width:100%;
	background:#6991AC;
}
#motavation{
	background-color: #BED9AD;
    margin-top: 15px;
    width: 100%;
    margin-bottom: 80px;
}
#skills{
	background-color:#F1AA90;
}
#imgwrap{
	margin-left: 21%;
    width: 47%;
}


.inner-wrapper-3{
	width:100%;
	background: #AADCD2;
}
.one-third{
	width:33.3333333333%;
	float: left;
	text-align:center;
}
#work{
	background-color:#A2B1C1;
}
#Workflow{
	background-color:#BEB9AD;
}

#Thanks{
	background-color:#AADCD2;
}

footer{
	background-color:#6991AC;
	width:100%;
}
.social{
	text-align:center;
}
.social li{
	display:inline;
}

.i{
	width: 3%;
    margin: 1%;
    background: #C3D7DF;
    border-radius: 9px;
}
.i:hover{
	background:white;
}
.moimg{
	margin-left: 23%;
	margin-left: 23%;
    padding-bottom: 15px;
    width: 55%;
}
#me1{
	max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
    margin-left: 31%;
}
#me{
	position: absolute;
    left: 31%;
   opacity: 0.0;
}
#me:hover{
	animation: shake 0.92s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
	opacity: 0.6;

}

// ---layout css-------//
// ----profects--------//
.hpub{
    width: 100%;
  }

.hpub:hover{
	opacity: 0.3;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.words-view{
    position: relative;
    font-size: 57px;
    width: 25%;
    left: 14%;
    bottom: -257px;
    height: 66px;
    border: none;
    opacity: 0.0;
   
}
.words-view:hover{
    opacity: 1;
}
.discription{
    width: 100%;
    border: solid;
    margin-left: 1%;
    height: 52px;
    background: #d3c9ca;
    margin-bottom: 3px;
    padding: 1px;
    border: azure;
    box-shadow: 5px -5px 5px #190601;
    margin-top: -29px;
    border: solid #3b0c09;
}
.discription:hover{
	background:white;

}
.git{
	margin-left: 47%;
    margin-bottom: 70px;
    width: 8%;
    padding: 6px;
}
.html2{
	height: 55px;
    padding: 4px;
    margin-bottom: 5px;
    margin-left: 195px;
}
.html1{
	border: solid;
    width: 55%;
    margin-left: 1%;
    margin-bottom: 0%;
    background: coral;
}
.html3{
	width:11%;
}
.html4{
	height: 50px;
    padding: 4px;
    margin-bottom: 5px;
}
.project{ 
	background: #6991AC;
	}
.projerc-banner-inner{
	height: 649px;
}
.mesh{
    max-width: 205px;
    width: 31%;
    margin-left: 1%;
}
.projerc-banner-inner2{
    float: right;
    width: 57%;
    margin-right: 0%;
}
.discription2{
	width: 98%;
    border: solid;
    height: 50px;
    background: #294171;
    margin-bottom: 4px;
    padding: 1px;
    border: solid white;
    margin-top: -28px;
}
.html11{
	border: solid;
    width: 97%;
    margin-bottom: 0%;
    background: coral;
}

.html22{
	
	height: 50px;
    padding: 4px;
    margin-bottom: 5px;
    margin-left: 227px;
   
}
.hpub-tittle{
    width: 44%;
    max-width: 1000px;
    font-size: 111px;
    height: 440px;
    margin: auto;
    padding-top:30px;
}

#hpub-script{
	font-size:10px
}
.Profilewrapper2{
    height: 330px;
    margin-top: 0px;
    padding-top: 10px;
    background: #89547a;
    margin-top: -3px;
    width: 28%;
}

.Mesh-tittle{
    float: left;
    width: 100%;
    max-width: 619px;
    font-size: 111px;
    height: 320px;
    margin-right: 0%;
    background: #547389;
}
.Mesh{
	font-size:40px;
	font-size: 110px;
	margin-top: 143px;
}
.mesh{
    width: 28%;
    margin-left: 0%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    box-shadow: 5px -3px 5px #190601
}
h4{
	position: relative;
    top: 123px;
    left: 290px;
    font-size: initial;
    color: black;
}


.Profilewrapper{
    height: 455px;
    width: 100%;
    background: antiquewhite;
}
// --------------Resume----------------------------------//
.timeline-container{
    
    background: steelblue;
}
.Resume{
   max-width: 630px;
    height: auto;
    width: 100%;
    margin-bottom: -4px;
    margin: auto;
    margin-left: 27%;
    border: solid;
}
// --starting media----//
@media screen and (max-width:768px){
	h2{
		font-size: 150%;
	}
	h3{
		font-size: 85px;
		font-family: 'Francois One', sans-serif;
	}
	h4{
		display:none;
	}
	p{
		font-size: 120%;
	}
    header{
    	position:absolute;
    }
    #logo{
    	margin: 15px 0px -25px;
    	background:url() no-repaeat center;
    }
    #menu-icon{
    	display: inline-block;
    }
    nav ul, nav:active ul{
    	display:none;
    	z-index: 1000;
    	position: absolute;
    	padding:20px;
    	background: #6991CA;
    	right:20px;
    	top:60px;
    	border:1px solid #FFF;
    	border-radius: 10px 0px 2px 2px;
    	width:50%;

    }
    nav:hover ul{
    	display: block;
    }
    nav li{
    	text-align: center;
    	width: 100%;
    	padding:10px 0;
    }
    .banner{
    	padding-top: 92px;
    }
    #html{
    	background: rgba(228, 77, 38, 0.83);
	    width: 100%;
	    }
	#css{
	    background: #1f62ae;
        height: 131%;
	    width: 100%;
	    }
	#socila{
		    background: aquamarine;
	        width: 100%;
	} 
	article{
		float: left;
		width: 100%;
	}
	aside{
		width:100%;
	}
	.imgwrap{
		display:none;
	}
	.one-third{
		width:100%;
	}
	.socila{
		width: 100%;
	}
	.i{
		width: 15%;
    }
    .aside2{
    	margin-left: 4px;
    }
    .moimg{
    	margin-left: 18%;
    }
    .hey{
    	margin-left: 22%;
    }
    .html1{
	width:100%;
	}
	.discription{
    width: 100%;
    border: solid;
    margin-left: 1%;
    height: 110px;
    background: #d3c9ca;
    margin-bottom: 3px;
    padding: 1px;
    border: azure;
    box-shadow: 3px 1px 17px #190601;
    margin-top: -26px;
    border: solid #3b0c09;
	}
	.git {
    width: 14%;
    margin-left: 40%;
	}



.mesh{
	width: 100%;
	max-width:218px;
  
}
.projerc-banner-inner {
	height: 320px


}

.hpub-tittle{
	width:100%;
	margin-right:1px;
	height: 215px;
	margin-left:0px;
	padding: 25px;

}

.Mesh-tittle{
	width: 96%;
    margin-left: 14px;
    height: 180px;
    margin-bottom: 15px;
}
.Mesh{
	margin-top: 50px;
	height: 185px;
	margin-bottom: 10px;
}

.Profilewrapper{
    background: #c3d7df;
    height: 555px;
}
.hpub{
	width: 100%;
    margin-top: 50px;
    padding-top: 10px;
}
#me1{
    max-width: 69%;
    width:69%;
}
#me{
	display:none;
	width: 69%;
	   
}
#JavaScript{
	 background:#f1bf26;
   height: 131%;
	 width: 100%;
}
.i{
	    width: 6%;
}
.height{
  height:140px;
}

}
































