<div class="close-container4">
<img src="images/jj.jpg" class="about-1">
<p class="about-2">I am a front-end developer, graduate of the Iron Yard Academy. The Iron Yard is a 12-week coding bootcamp specializing in highly focused,
  immersive training centered on language fluency, object-oriented programming, and project-based learning.
  Im a inspired creative developer looking for new opportunities to build amazing sights for loving people.
  I spend my time researching and exploring a variety of creative outlets.
   When I'm not at my desk, I’m at the gym training, or looking for my next adventure.</p>
   <!-- <h2 class="skills2">SKILLS</h2> -->
   <p class="about-2">
     <p class="responsive3">Development</p>
     <img src="images/javascript.png" class="dev-logo" >
     <img src="images/HTML5.png" class="dev-logo2" >
     <img src="images/CSS3.png" class="dev-logo3" >
     <img src="images/node.png" class="dev-logo4" >
     <img src="images/angaljs.png" class="dev-logo5" >
        <p class="responsive3">Tools</p>
        <img src="images/gulp.png" class="dev-logo7" >
        <img src="images/jQurery.gif" class="dev-logo4" >
        <img src="images/post.png" class="dev-logo6">
           <img src="images/jas.png" class="dev-logo4" >
   </p>




</div>
