
<div class="close-container">
  <header class="cBox">
    <h2 id="titleC">CloseUp's</h2>
    <p id="Ct">AdonisJs - Angularjs - Html - CSS - Harouku</p>



  </header>
<div class="close-container3">


<!-- <header class="cBox">
  <h2 id="titleC">CloseUp's</h2>
  <p id="Ct">AdonisJs Angularjs Html CSS Harouku</p>



</header> -->

  <img src="images/closeup.png" class="closupimg" >
  <a href="http://tiy-gracelee-close-up-frontend.surge.sh/#/add">
    <div class="buttonC">
      <h1 id="see">VIEW WEBSITE</h1>
    </div></a>

<p class="text-C">Close Up is an application that allows a user to upload close up images.

On the Front End, there are three routes: Home, Add and Detail. The Home page shows a list of all images, the detail page provides detailed view of a specific image that allows the user to add loves and comments, and the add page is where a user can upload an image. On the detail page, a heart button has been placed on the image. The count increases as the user double-clicks on the image.
 The count is tracked by the Back End and is placed on the Home page view as well as the Detail Page.
The Back End model was created without a user/authorization using Adonis and deployed to Heroku.
   Click on the link to redirect to the Back End Heroku Site: Heroku Back End</p>

   <p class="responsive3">Development</p>
   <img src="images/javascript.png" class="dev-logo" >
   <img src="images/HTML5.png" class="dev-logo2" >
   <img src="images/CSS3.png" class="dev-logo3" >
   <img src="images/node.png" class="dev-logo4" >
   <img src="images/angaljs.png" class="dev-logo5" >
</div>


</div>
