
<div class="main-content" ui-view>
    <ul class="rslides2">
<section class="banner">
  <li><img src="images/mac.jpg" id="p2"></li>
  <!-- <li><img src="images/mac.jpg" id="p2"></li> -->
</ul>
      <span class="banner-inner1">
  <img src="images/lap.png" id="p4">
</span>
      <div class="name">"Hi, Welcome to my portfelio" </div>
      <div class="name1">Responsive Front-end Development
</div>
      <!-- <div class="name2">Html - CSS - JavaScript - Framworks</div> -->
</section>


<!-- start of project section  -->
<section class="inner-wrapper-3">
      <a href="#!/closeUp"> <section class="one-third" id="work">
        <div class="Clo">Click to View</div>
          <img src="images/closedair.png" class="hpub-afect">
        <img src="images/closeup.png" class="hpub">
    </section></a>
  <a href="#!/hpub">  <section class="one-third" id="Workflow">
    <div class="Clo1">Click to View</div>
        <img src="images/closedair.png" class="hpub-afect1">
        <img src="images/hpp.png" class="hpub">
          <div class="title-hover2"></div>
    </section></a>
      <a href="#!/mesh"><section class="one-third" id="Thanks">
          <img src="images/meshimg.png" class = "hpub1">
    </section></a>
</section>

<section class="inner-wrapper-4">
   <a href="#!/mesh"><section class="one-third" id="work1"><a href="#!/skills">

        <!-- <img src="images/hpub.png" class="hpub"> -->
    </section></a>
    <section class="one-third" id="Workflow1">

        <!-- <img src="images/mesh.png" class="hpub"> -->
    </section>
    <section class="one-third" id="Thanks1">

          <!-- <img src="images/esty.png" class="hpub"> -->
    </section>
</section>

<!-- End of project sections   -->

  <!-- End of one-forth Section-->
<section class="inner-wrapper">
    <!-- <article id="tablet">
          <img src="images/hey.png" class="hey">
    </article> -->
    <!-- <aside id="tablet2">
       <h2>ABOUT ME</h2>
       <p>I'm Jeremy, a front end web developer and creative designer looking for new opportunities to build cool sights for loving people.I spend my time researching and exploring a variety of creative outlets. When I'm not at my desk, I’m at the gym training, or looking for my next  adventure.</p>
    </aside> -->
</section>
<section class="inner-wrapper-2">
    <!-- <article id="motavation">
      <img src="images/me1.png" id="me1">
      <img src="images/me.png" id="me">
 </article> -->
 <aside id="aside2">
  <!--  <img src="images/mo.png" class="moimg"> -->
 </aside>
</section>
<!-- <section class="inner-wrapper">
    <article>
          <img src="images/mo.png" class="imgwrap">
    </article id="skills2">
    <aside id="skills">
         <h2>Skills</h2>
       <img src="images/htl.png" id="ps">
       <img src="images/js.png" id="ps">
       <img src="images/mvc.png" id="ps">
       <img src="images/ps.png" id="ps">
       <img src="images/Ai.png" id="ps">
      </ul>

    </aside >
</section> -->
<!-- end of section -->
<!-- <section id="smile">
   <h3>Projects</h3>
</section> -->
<!-- End of Main column Section -->
<!-- <section class="inner-wrapper-3">
    <section class="one-third" id="work"><a href="#!/skills">
        <h3>Hpub</h3>
        <img src="images/hpub.png" class="hpub">
    </section>
    <section class="one-third" id="Workflow">
        <h3>Mesh Network</h3>
        <img src="images/mesh.png" class="hpub">
    </section>
    <section class="one-third" id="Thanks">
        <h3>Etsy</h3>
          <img src="images/esty.png" class="hpub">
    </section>
</section> -->
<!-- END THREE COLUM SECTION -->
<!-- <footer>
  <ul class="social">
     <li><a href=" https://www.facebook.com/jspring50"><img src="images/book.png" class="i"></li>
     <li><a href=" https://github.com/Jeremy5044"><img src="images/github.png" class="i"></li>
     <li><a href="https://www.instagram.com/jspring50/?hl=en"><img src="images/insta.png" class="i"></li>
     <li><a href="https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button"><img src="images/in.png" class="i"></li>
  </ul>

</footer> -->
<a herf="https://www.brainyquote.com/search_results.html?q=learning"><p id="quote"> "Stay positive and happy. Work hard and don't give up hope. Be open to criticism and keep learning.
 Surround yourself with happy, warm and genuine people."</p></a>
 </div>
  <!-- End Footer Section -->
