
<div class="close-container">
  <header class="cBox">
    <h2 id="titleC">Hpub</h2>
    <p id="Ct"> Angularjs - Html5 - CS3S </p>



  </header>
<div class="close-container2">


<!-- <header class="cBox">
  <h2 id="titleC">CloseUp's</h2>
  <p id="Ct">AdonisJs Angularjs Html CSS Harouku</p>



</header> -->

  <img src="images/hpu.png" class="closupimg" >
  <a href="https://tiy-jeremyspringer-restaurant-mockup-.surge.sh/">
    <div class="buttonC">
      <h1 id="see">VIEW WEBSITE</h1>
    </div></a>

<p class="text-C">Pair programed with front-end developer and
  created a web page for a restaurant pub, I practiced pulling the JSON data from
  back-end to help build a clean one page website that gives our customers  new logo,
  picture of the inside of our restaurant,  feed from our online blog , our daily special (provided)
   as well  google map with our address and phone number listed.(mockup)

   <p class="responsive3">Development</p>
   <img src="images/javascript.png" class="dev-logo" >
   <img src="images/HTML5.png" class="dev-logo2" >
   <img src="images/CSS3.png" class="dev-logo3" >
   <img src="images/node.png" class="dev-logo4" >
   <img src="images/angaljs.png" class="dev-logo5" >
</p>
</div>


</div>
