
<div class="close-container">
  <header class="cBox">
    <h2 id="titleC">Mesh Network</h2>
    <p id="Ct">AdonisJs - Angularjs - Html - CSS - Harouku</p>



  </header>
<div class="close-container1">




  <img src="images/meshimg.png" class="meshimg" >
  <a href="http://tiy-cameronzandkarimi-network-frontend.surge.sh/#/login">
    <div class="buttonC">
      <h1 id="see">VIEW WEBSITE</h1>
    </div></a>

<p class="text-C">
Mesh network is a web based mobile app that allows you to search for nearby users
 who’s seeking  opportunities to learn and connect with others.
 Mesh allows individuals to physically keep track as well as private message with users in the nearby areas.
 Mesh allow users to update there linkedin url where others can be directed to see giving
information that could possible lead to endless opportunities..
</p>

<p class="responsive">Building a Responsive Moble Websight</p>
<p class="text-C1"> Responsive Web Design is the methodology that recommends the design and implementation of a website that responds
   to user behavior and environment based on the screen size, orientation and operating system of their device.</p>

<img src="images/mesh1.png" class="meshimg2" >
<img src="images/mesh2.png" class="meshimg1" >

   <p class="text-C1">While building Mesh Network we wanted our users to be able to have the opportunity to network with different individuals within a nearby area, so we had an understanding that our application would be more affective if the individual was able to be mobile with our application.
      So we decided to create a responsive web application that will allow our users to view the application from a phone format. </p>

<p class="responsive3">Development</p>
<img src="images/javascript.png" class="dev-logo" >
<img src="images/HTML5.png" class="dev-logo2" >
<img src="images/CSS3.png" class="dev-logo3" >
<img src="images/node.png" class="dev-logo4" >
<img src="images/angaljs.png" class="dev-logo5" >
</div>
</div>
