
<!-- <section class="Project-banner">
      <div class="projerc-banner-inner">
         <img src="images/project.png" class="project">
      </div>
</section> -->
<!-- end project banner -->
<section class="Project-banner2">
	<div class="Profilewrapper">
		<div class="hpub-tittle">
	    	<a href="https://tiy-jeremyspringer-restaurant-mockup-.surge.sh/"> <h4>click to View</h4>
	    		<img src="images/hpub.png" class="hpub">
	    	</a>
	    		<a href="https://github.com/cameronzand/restaurant-mockup-">
	    			<div class="discription"> 
	    				<img src="images/github.png" class="git">
	    			</div>
	    		</a>
	    </div>
	    </div>
	</div>

	 <div class="Profilewrapper">
		 <div class="hpub-tittle">
			 <a href="http://tiy-cameronzandkarimi-network-frontend.surge.sh/#/nearby"> <h4>click to View</h4>
			 	<img src="images/mesh.png" class="hpub">
			 </a>
				 <a href="github.com/Jeremy5044/network-backend-">
					 <div class="discription"> 
					 	<img src="images/github.png" class="git">
					 </div>
				 </a>
		 </div>
	 </div>
	 <div class="Profilewrapper">
		 <div class="hpub-tittle">
			 <a href="https://jeremy5044.github.io/Esty/"> <h4>click to View</h4>
			 	<img src="images/esty.png" class="hpub">
			 </a>
				 <a href="https://github.com/Jeremy5044/Esty">
					 <div class="discription"> 
					 	<img src="images/github.png" class="git">
					 </div>
				 </a>
		 </div>
	 </div>


<footer>
  <ul class="social">
     <li><a href=" https://www.facebook.com/jspring50"><img src="images/book.png" class="i"></li>
     <li><a href=" https://github.com/Jeremy5044"><img src="images/github.png" class="i"></li>
     <li><a href="https://www.instagram.com/jspring50/?hl=en"><img src="images/insta.png" class="i"></li>
     <li><a href="https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button"><img src="images/in.png" class="i"></li>
  </ul>

</footer>

</section>



